@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap);
:root {
  --bg-primary: #f26522;
  --bg-accent: #FFFFFF;
  --text-primary: #666666;
  --text-secondary: #333333;
  --text-accent: #f26522;
  --text-inverse: #FFFFFF
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: var(--text-primary);
  line-height: 1;
  font-family: Roboto,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 69.375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,67.5rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-column-gap: 1.375rem;
  -moz-column-gap: 1.375rem;
  column-gap: 1.375rem;
  row-gap: .3125rem
}
.menu__link {
  text-transform: uppercase;
  font-size: 1rem;
  transition: color .3s
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  font-size: 2.1875rem;
  text-transform: capitalize;
  color: var(--text-secondary);
  font-weight: 500;
  line-height: 1
}
.title--white {
  color: var(--text-inverse)
}
.subtitle {
  font-size: 1.8125rem;
  color: var(--text-secondary);
  text-transform: capitalize;
  font-weight: 300;
  line-height: 1.1
}
.subtitle--white {
  color: var(--text-inverse)
}
.text--white {
  color: var(--text-inverse)
}
.text p {
  line-height: 1.8;
  font-weight: 500
}
.text p:not(:last-child) {
  -webkit-margin-after: .625rem;
  margin-block-end: .625rem
}
.button {
  display: flex;
  justify-content: center;
  padding: .625rem 1.25rem;
  border: .125rem solid var(--bg-primary);
  background-color: var(--bg-primary);
  border-radius: .625rem;
  color: var(--text-inverse);
  font-weight: 500;
  font-size: 1.25rem;
  transition: all .3s;
  text-align: center
}
.button::after {
  content: ">";
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 0;
  visibility: hidden;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.button--white-border {
  border-color: var(--text-inverse)
}
.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: rgba(0,0,0,.71);
  color: var(--text-inverse);
  padding-block: .625rem
}
.header__container {
  text-align: center
}
.header__logo {
  position: relative;
  z-index: 5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 204/38
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.footer {
  padding-block: 1.5625rem;
  background-color: var(--text-secondary)
}
.footer__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  color: var(--text-inverse);
  font-style: normal;
  line-height: 1.5
}
.contact__item {
  display: flex;
  align-items: center;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem
}
.contact__item strong {
  font-weight: 500
}
.contact__item a {
  transition: color .3s
}
.contact__icon svg {
  vertical-align: middle
}
.page__book,
.page__movement {
  padding-block: 5rem
}
.page__portfolio {
  -webkit-padding-after: 3.125rem;
  padding-block-end: 3.125rem
}
.page__principle {
  -webkit-padding-before: 2.5rem;
  padding-block-start: 2.5rem;
  -webkit-padding-after: 1.25rem;
  padding-block-end: 1.25rem
}
.page__marqueee {
  -webkit-padding-before: 2.5rem;
  padding-block-start: 2.5rem;
  -webkit-padding-after: 6.25rem;
  padding-block-end: 6.25rem
}
.hero {
  position: relative;
  -webkit-margin-before: -7.1875rem;
  margin-block-start: -7.1875rem;
  min-height: calc(100svh + 7.1875rem);
  background: url(../img/hero/hero_bg_image.webp) center/cover fixed no-repeat
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,8,19,.85)
}
.hero__container {
  min-height: 100svh;
  -webkit-padding-before: 9.375rem;
  padding-block-start: 9.375rem;
  -webkit-padding-after: 2.5rem;
  padding-block-end: 2.5rem;
  position: relative;
  z-index: 5;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}
.hero__content {
  text-align: center
}
.hero__logo {
  max-width: 25.3125rem;
  margin-inline: auto;
  aspect-ratio: 405/75
}
.hero__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.hero__title {
  font-size: 1.25rem;
  color: var(--text-inverse);
  font-weight: 500;
  line-height: 1.8
}
.hero__arrow-bottom {
  width: 1.25rem;
  height: 9.375rem;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  -webkit-animation: arrow-bottom-animation 3s infinite linear;
  animation: arrow-bottom-animation 3s infinite linear
}
.hero__arrow-bottom img {
  width: auto;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain
}
@-webkit-keyframes arrow-bottom-animation {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  50% {
    -webkit-transform: translateY(1.875rem);
    transform: translateY(1.875rem)
  }
}
@keyframes arrow-bottom-animation {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  50% {
    -webkit-transform: translateY(1.875rem);
    transform: translateY(1.875rem)
  }
}
.book {
  min-height: 100svh
}
.book__container {
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
  justify-content: space-between
}
.book__content {
  flex: 0 0 47.222222%
}
.book__title:not(:last-child) {
  -webkit-margin-after: .625rem;
  margin-block-end: .625rem
}
.book__subtitle:not(:last-child) {
  -webkit-margin-after: 1.875rem;
  margin-block-end: 1.875rem
}
.book__button {
  justify-self: center
}
.book__images {
  align-self: center;
  flex: 0 0 47.222222%;
  display: grid;
  row-gap: .9375rem;
  justify-content: center
}
.book__image {
  justify-self: center;
  max-width: 31.875rem;
  aspect-ratio: 510/340
}
.book__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.book__award {
  justify-self: center;
  max-width: 25.5rem;
  aspect-ratio: 408/143
}
.book__award img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.book__awards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem
}
.book__awards img {
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: contain;
  object-fit: contain
}
.movement {
  position: relative;
  min-height: 50svh;
  background: url(../img/movement/movement_bg.webp) center top/cover fixed no-repeat
}
.movement::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,8,19,.85)
}
.movement::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: .1875rem;
  height: 3.125rem;
  background-color: var(--bg-accent)
}
.movement__container {
  position: relative;
  z-index: 3;
  min-height: 50svh;
  display: flex;
  align-items: center;
  justify-content: flex-end
}
.movement__title:not(:last-child) {
  -webkit-margin-after: .625rem;
  margin-block-end: .625rem
}
.movement__subtitle:not(:last-child) {
  -webkit-margin-after: 1.875rem;
  margin-block-end: 1.875rem
}
.movement__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: center
}
.portfolio {
  position: relative
}
.portfolio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45vh;
  z-index: -1;
  background: url(../img/portfolio/portfolio_bg.webp) center/cover no-repeat
}
.portfolio::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: .1875rem;
  height: 3.125rem;
  background-color: #000
}
.portfolio__title {
  font-size: 2.1875rem;
  text-align: center
}
.portfolio__list-item {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 1.875rem
}
.portfolio__list-item--exited {
  pointer-events: none;
  position: relative
}
.portfolio__list-item--exited::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  width: 80%;
  aspect-ratio: 1/.5;
  -webkit-transform: translate(-15%,35%) rotate(30deg);
  transform: translate(-15%,35%) rotate(30deg);
  background: url(../img/portfolio/exited.webp) 0 0/contain no-repeat
}
.item-portfolio {
  background-color: var(--bg-accent);
  box-shadow: 0 .125rem 1.125rem 0 rgba(0,0,0,.3);
  overflow: hidden
}
.item-portfolio__image {
  position: relative;
  aspect-ratio: 510/316
}
.item-portfolio__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,8,19,.55);
  transition: top .3s linear
}
.item-portfolio__image--horizontal {
  aspect-ratio: 510/280
}
.item-portfolio__image--vertical {
  aspect-ratio: 510/640
}
.item-portfolio__image--equal {
  aspect-ratio: 1
}
.item-portfolio__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.item-portfolio__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-secondary);
  transition: color .3s
}
.item-portfolio__title:not(:last-child) {
  -webkit-margin-after: .625rem;
  margin-block-end: .625rem
}
.item-portfolio__text:not(:last-child) {
  -webkit-margin-after: 1.25rem;
  margin-block-end: 1.25rem
}
.item-portfolio__visit-link {
  font-weight: 500
}
.item-portfolio__visit-link--orange {
  color: var(--text-accent)
}
.item-portfolio__visit-link:not(:last-child) {
  -webkit-margin-after: 1.25rem;
  margin-block-end: 1.25rem
}
.item-portfolio__visit-link a {
  color: var(--text-accent);
  transition: color .3s
}
.principle__headline {
  font-size: 2.1875rem
}
.principle__headline:not(:last-child) {
  -webkit-margin-after: 1.875rem;
  margin-block-end: 1.875rem
}
.principle__body {
  position: relative;
  padding-block: 2.5rem
}
.principle__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.principle__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.principle__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  -webkit-margin-start: auto;
  margin-inline-start: auto
}
.principle__title:not(:last-child) {
  -webkit-margin-after: .625rem;
  margin-block-end: .625rem
}
.principle__subtitle strong,
.principle__title strong {
  color: var(--text-secondary);
  font-size: 1.5rem;
  font-weight: 500
}
.principle__subtitle:not(:last-child) {
  -webkit-margin-after: 2.5rem;
  margin-block-end: 2.5rem
}
.principle__text p {
  font-size: .875rem
}
.marquee {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7.5rem;
  overflow: hidden
}
.marquee__container {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: var(--gap)
}
.marquee__items {
  flex-shrink: 0;
  display: grid;
  grid-auto-flow: column;
  gap: var(--gap);
  min-width: 100%;
  -webkit-animation: scroll 30s linear infinite;
  animation: scroll 30s linear infinite
}
.marquee__item {
  max-width: 17.5rem
}
.marquee__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(calc(-100% - var(--gap)));
    transform: translateX(calc(-100% - var(--gap)))
  }
}
@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(calc(-100% - var(--gap)));
    transform: translateX(calc(-100% - var(--gap)))
  }
}
@media (min-width:47.99875em) {
  .header {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
    padding-block: 1.25rem;
    transition: -webkit-transform .8s ease;
    transition: transform .8s ease;
    transition: transform .8s ease,-webkit-transform .8s ease
  }
  .header._header-scroll {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  .header__logo:not(:last-child) {
    -webkit-margin-after: 1.25rem;
    margin-block-end: 1.25rem
  }
  .portfolio__items {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2
  }
}
@media (min-width:61.99875em) {
  .movement__content {
    max-width: 31.875rem
  }
}
@media (min-width:69.375em) {
  .header__logo {
    width: 12.75rem
  }
  .page__portfolio {
    -webkit-padding-before: 6.875rem;
    padding-block-start: 6.875rem
  }
  .hero__logo:not(:last-child) {
    -webkit-margin-after: 3.125rem;
    margin-block-end: 3.125rem
  }
  .hero__title:not(:last-child) {
    -webkit-margin-after: 3.125rem;
    margin-block-end: 3.125rem
  }
  .book__text {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .movement__text {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
  .portfolio__title:not(:last-child) {
    -webkit-margin-after: 3.125rem;
    margin-block-end: 3.125rem
  }
  .portfolio__items {
    -webkit-column-gap: 3.75rem;
    -moz-column-gap: 3.75rem;
    column-gap: 3.75rem
  }
  .item-portfolio__content {
    padding: 2.5rem
  }
}
@media (max-width:20em) {
  .header__logo {
    width: 11.25rem
  }
  .page__portfolio {
    -webkit-padding-before: 5rem;
    padding-block-start: 5rem
  }
  .hero__logo:not(:last-child) {
    -webkit-margin-after: 1.5625rem;
    margin-block-end: 1.5625rem
  }
  .hero__title:not(:last-child) {
    -webkit-margin-after: 1.5625rem;
    margin-block-end: 1.5625rem
  }
  .book__text {
    -webkit-margin-after: .9375rem;
    margin-block-end: .9375rem
  }
  .movement__text {
    -webkit-margin-after: .9375rem;
    margin-block-end: .9375rem
  }
  .portfolio__title:not(:last-child) {
    -webkit-margin-after: 1.875rem;
    margin-block-end: 1.875rem
  }
}
@media (max-width:62.06125em) {
  .portfolio__items {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
}
@media (max-width:61.99875em) {
  .footer__contact {
    flex-direction: column;
    row-gap: 1.25rem;
    align-items: flex-start
  }
  .book__container {
    flex-direction: column
  }
  .movement__container {
    justify-content: center;
    text-align: center
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem .9375rem 1.875rem .9375rem;
    background-color: var(--text-secondary);
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.4375rem;
    left: 100%;
    top: 0;
    transition: left .3s;
    z-index: 2;
    background-color: var(--text-secondary)
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 2.75rem
  }
  .menu__link {
    font-size: 2rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: var(--bg-primary)
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between
  }
  .item-portfolio__content {
    padding: 1.25rem
  }
  .principle__bg img {
    -o-object-position: 20%;
    object-position: 20%
  }
  .principle__bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,.85)
  }
  .principle__content {
    width: 100%
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (min-width:20em)and (max-width:69.375em) {
  .header__logo {
    width: clamp(11.25rem ,10.6424050633rem + 3.0379746835vw ,12.75rem)
  }
  .page__portfolio {
    -webkit-padding-before: clamp(5rem ,4.2405063291rem + 3.7974683544vw ,6.875rem);
    padding-block-start: clamp(5rem ,4.2405063291rem + 3.7974683544vw ,6.875rem)
  }
  .hero__logo:not(:last-child) {
    -webkit-margin-after: clamp(1.5625rem ,.9295886076rem + 3.164556962vw ,3.125rem);
    margin-block-end: clamp(1.5625rem ,.9295886076rem + 3.164556962vw ,3.125rem)
  }
  .hero__title:not(:last-child) {
    -webkit-margin-after: clamp(1.5625rem ,.9295886076rem + 3.164556962vw ,3.125rem);
    margin-block-end: clamp(1.5625rem ,.9295886076rem + 3.164556962vw ,3.125rem)
  }
  .book__text {
    -webkit-margin-after: clamp(.9375rem ,.5577531646rem + 1.8987341772vw ,1.875rem);
    margin-block-end: clamp(.9375rem ,.5577531646rem + 1.8987341772vw ,1.875rem)
  }
  .movement__text {
    -webkit-margin-after: clamp(.9375rem ,.5577531646rem + 1.8987341772vw ,1.875rem);
    margin-block-end: clamp(.9375rem ,.5577531646rem + 1.8987341772vw ,1.875rem)
  }
  .portfolio__title:not(:last-child) {
    -webkit-margin-after: clamp(1.875rem ,1.3686708861rem + 2.5316455696vw ,3.125rem);
    margin-block-end: clamp(1.875rem ,1.3686708861rem + 2.5316455696vw ,3.125rem)
  }
}
@media (min-width:62.06125em)and (max-width:69.375em) {
  .portfolio__items {
    -webkit-column-gap: clamp(1.875rem ,-14.0354212955rem + 25.6366433088vw ,3.75rem);
    -moz-column-gap: clamp(1.875rem ,-14.0354212955rem + 25.6366433088vw ,3.75rem);
    column-gap: clamp(1.875rem ,-14.0354212955rem + 25.6366433088vw ,3.75rem)
  }
}
@media (min-width:47.99875em)and (max-width:69.375em) {
  .item-portfolio__content {
    padding: clamp(1.25rem ,-1.5567803052rem + 5.8476112508vw ,2.5rem)
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    color: var(--text-accent)
  }
  .button:hover {
    background-color: var(--bg-accent);
    color: var(--bg-primary)
  }
  .button:hover::after {
    content: ">";
    display: inline-block;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(.625rem);
    transform: translateX(.625rem)
  }
  .button--white-border:hover {
    border-color: var(--bg-primary)
  }
  .contact__item a:hover {
    color: var(--text-accent)
  }
  .hero__arrow-bottom:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
  }
  .item-portfolio__image:hover::before {
    top: -100%
  }
  .item-portfolio__title:not([class$="--no-hover"]):hover {
    color: var(--text-accent)
  }
  .item-portfolio__visit-link a:hover {
    color: var(--text-secondary)
  }
}